.header
  h1 Florent Kirchner
  nav
    ul
      li: a(href="http://twitter.com/__ftk"): i(class="fab fa-twitter fa-fw")
      li: a(href="https://github.com/fkirchner"): i(class="fab fa-github fa-fw")
      li: a(href="http://stackoverflow.com/users/303793/ftk"): i(class="fab fa-stack-overflow fa-fw")
      li: a(href="http://dblp.uni-trier.de/pers/hd/k/Kirchner:Florent.html"): i(class="far fa-folder-open fa-fw")
      li: a(href="https://www.linkedin.com/in/fkirchner"): i(class="fab fa-linkedin fa-fw")
  h3 Senior Scientist 
        span(class="sym") +
        | Head of Laboratory
  h3 Software Safety and Security Laboratory at List, CEA

.map
  h2 Contact
  script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js")
  iframe(allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" src="./map.html")
  .contact
    .type
      p Mail
      p Phone
      p Visiting &amp; shipping
    .field
      p first.last@cea.fr
      p +33 (0) 169 080 010
      p
        address
          | CEA Saclay Nano-INNOV
          br
          | Point Courrier 174
          br
          | 91191 Gif-sur-Yvette
          br
          | France &nbsp;
          a(href="assets/Coming_to_Nano_INNOV.pdf"): i(class="fas fa-map-marker fa-xs")


.tools
  h2 Tools
  p The Software Safety and Security Laboratory develops tools and methods that assist and automate software verification tasks. We deploy them in industries where high-confidence implementations matter &ndash; from small personal devices to large digital infrastructures.
  .firsttool
    .banner
      a(href="http://binsec.gforge.inria.fr")
        img(class="banner" src="assets/img/binsec.png")
    .desc
      | Binary code analysis platform
  .tool
    .banner
      a(href="http://www.frama-c.com")
        img(class="banner" src="assets/img/frama-c.png")
    .desc
      | Source code analysis platform
  .firsttool
    .banner
      img(class="banner" src="assets/img/gatel.png")
    .desc
      | Synchronous models analysis tool
  .tool
    .banner
      a(href="http://unisim-vp.org")
        img(class="banner" src="assets/img/unisim.png")
    .desc
      | Hardware virtualization framework

.writing
  h2 Writing
  .twitter
    p Tweets
    a(class="twitter-timeline"
      href="https://twitter.com/__ftk"
      data-tweet-limit="5"
      data-dnt="true"
      data-link-color="#3b94d9"
      data-chrome="transparent noheader nofooter noborders"
        ) https://twitter.com/__ftk
    script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
  .bib
    p Publications
      span(class="attribution") scripted by 
        a(href="https://bibbase.org") BibBase
    script(src="https://bibbase.org/dblp/Kirchner:Florent?jsonp=1&theme=simple")
      // todo: custom file
      // http://bibbase.org/show?bib=/fk.bib&jsonp=1&theme=simple


.footer
  .icon
    span(class="far fa-copyright")
  h4 2017, 2018 &ndash; ftk
  nav
    ul
      li: i(class="fab fa-html5 fa-fw fa-lg")
      li: i(class="fab fa-css3 fa-fw fa-lg")
      li: i(class="fab fa-node-js fa-fw fa-lg")
      li: i(class="fab fa-sass fa-fw fa-lg")

